extends layout


block head
  link(rel='stylesheet', href='css/audioanalyzer.css')



block content
  div.wrapper
    h2 Audio Analyzer

    audio(id="player" controls="" autoplay="false" preload autobuffer src="")

    div#audioanalyzer



block bodyend
  script(src='js/soundcloud_sdk.js')
  script(src='js/audioanalyzer.js')