link(rel='stylesheet', href='css/recorderjs_demo.css')



div.meta
  h2 Synthesizer

  br

  button#record record
  button#visualize visualize: off

  ul#recordingslist



div.nerddisco
  canvas(id='c')



script(type='text/javascript' src='js/keyboard.js')
