link(rel='stylesheet', href='css/recorderjs_demo.css')



div.meta
  h2 Keyboard

  ul
    li Connect a #[a(href='http://www.akaipro.com/product/lpk25') AKAI LPK25] via USB to your computer
    li Grant permission for #[a(href='http://www.w3.org/TR/webmidi/') Web MIDI] usage
    li Record music by using the #[b record] button

  br

  button#record record: off
  button#visualize visualize: off

  ul#recordingslist



div.nerddisco
  canvas(id='c')



script(type='text/javascript' src='js/keyboard.js')