link(rel='stylesheet', href='css/recorderjs_demo.css')



div.meta
  h2 Microphone

  br

  button#record record
  button#output Audio: disabled

  ul#recordingslist



div.nerddisco
  canvas(id='c')



script(type='text/javascript' src='js/microphone.js')