* {
  box-sizing: border-box; }

body {
  font: 1em sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  background: #15171E;
  overflow-x: hidden; }

h1 {
  text-align: center; }

.logo {
  width: 50%;
  width: 50vw; }

h2 {
  font: bold 3.65em sans-serif;
  line-height: 1.5em;
  margin: .25em 0 1em 0;
  text-align: center; }
  @media only screen and (max-width: 59.9375em) {
    h2 {
      font-size: 2.25em; } }

.wrapper {
  margin: 0 auto;
  max-width: 75em; }

#player {
  width: 100%;
  margin: 0 0 3em 0; }

ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0; }
  ul > li {
    flex: 1;
    text-align: center; }
    ul > li > .title {
      color: #5b647c; }
    ul > li > .freq {
      font-size: 2em; }
