* {
  box-sizing: border-box; }

body {
  font: 1em sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  background: #15171E;
  overflow-x: hidden; }

h1 {
  text-align: center; }

.logo {
  width: 50%;
  width: 50vw; }

h2 {
  font: bold 3.65em sans-serif;
  line-height: 1.5em;
  margin: .25em 0 1em 0;
  text-align: center; }
  @media only screen and (max-width: 59.9375em) {
    h2 {
      font-size: 2.25em; } }

.wrapper {
  margin: 0 auto;
  max-width: 75em; }

#mrturtle {
  padding: 1em; }

h2 {
  font: 2.65em sans-serif;
  line-height: 1.5em;
  margin: .25em 0 1em 0;
  text-align: center; }
  @media only screen and (max-width: 59.9375em) {
    h2 {
      font-size: 1.75em;
      margin: .25em 0 0 0; } }

.show-artist,
.show-title {
  font-weight: bold;
  background: #fff;
  color: #000;
  padding: .25em; }
  @media only screen and (max-width: 59.9375em) {
    .show-artist,
    .show-title {
      padding: .075em; } }

.vote-button {
  width: 50%;
  height: 8em;
  font-size: 1em;
  cursor: pointer;
  padding: .25em;
  text-align: center;
  border: none; }
  .vote-button--yes {
    background: url(../images/heart_stars.svg) no-repeat 50% 50%; }
    @media only screen and (max-width: 59.9375em) {
      .vote-button--yes {
        background-size: 80px;
        background-position: 0% 50%; } }
  .vote-button--no {
    background: url(../images/shit.svg) no-repeat 50% 50%; }
    @media only screen and (max-width: 59.9375em) {
      .vote-button--no {
        background-size: 80px;
        background-position: 100% 50%; } }

.vote-legend {
  position: relative;
  float: left;
  width: 50%;
  height: 8em;
  font-size: 1em;
  text-align: left;
  padding: .25em;
  color: #000;
  margin: 0 0 0 0; }
  .vote-legend:after {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    font-weight: bold;
    width: 5em;
    padding: .25em; }
    @media only screen and (max-width: 59.9375em) {
      .vote-legend:after {
        padding: 0;
        font-size: 2.5em;
        width: 3em; } }
  .vote-legend--yes {
    color: #fff;
    background: url(../images/heart_stars.svg) no-repeat 50% 50%; }
    @media only screen and (max-width: 59.9375em) {
      .vote-legend--yes {
        background-size: 80px;
        background-position: 0% 50%; } }
    .vote-legend--yes:after {
      content: attr(data-yes);
      text-align: right;
      padding-right: 0; }
      @media only screen and (max-width: 59.9375em) {
        .vote-legend--yes:after {
          text-align: right;
          padding-right: .35em; } }
  .vote-legend--no {
    color: #fff;
    background: url(../images/shit.svg) no-repeat 50% 50%; }
    @media only screen and (max-width: 59.9375em) {
      .vote-legend--no {
        background-size: 80px;
        background-position: 100% 50%; } }
    .vote-legend--no:after {
      content: attr(data-no); }
      @media only screen and (max-width: 59.9375em) {
        .vote-legend--no:after {
          text-align: left;
          padding-left: .35em; } }

.voteresult--container {
  width: 100%; }

.voteresult--chart {
  width: 100%; }
