body {
  font: 1em sans-serif;
  color: #ddd;
  margin: 0;
  padding: 0; }

h1 {
  text-align: center; }

h2 {
  font: 4em sans-serif;
  margin: 0; }

h3 {
  font: 2em sans-serif;
  margin-bottom: .5em; }

a {
  text-decoration: none;
  color: #ddd;
  cursor: pointer;
  border-bottom: .125em solid #ddd; }

.logo {
  width: 60%; }

.meta {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  padding: 1em 1em 1em 1em; }

ul > li {
  margin: .5em 0; }

ul#recordingslist {
  list-style: none;
  padding: 0; }

ul#recordingslist > li > audio::-webkit-media-controls-panel {
  padding: 0;
  background: transparent;
  /*border: .125em solid #ddd;*/
  border-radius: 0;
  color: #ddd;
  font: 1.25em sans-serif; }

.nerddisco {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

#c {
  background: #000; }

button {
  margin: 0 .5em 0 0;
  padding: .5em;
  background: transparent;
  border: .125em solid #ddd;
  color: #ddd;
  font: 1.25em sans-serif;
  cursor: pointer; }

button.recording {
  border-color: transparent;
  background: #c00; }

.button {
  text-decoration: none;
  margin: 0 0 0 1em;
  padding: .5em;
  background: transparent;
  color: #ddd;
  font: 1em sans-serif;
  cursor: pointer;
  vertical-align: super;
  border: .125em solid #ddd; }

input {
  text-decoration: none;
  margin: 0 0 0 1em;
  padding: .5em;
  background: white;
  color: #000;
  font: 1em sans-serif;
  vertical-align: super;
  border: .125em solid transparent; }
