* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  background: #000000;
}

#nd-output {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
}
