{{ partial "head.html" . }}

<section class="space-around--all--quarter center center--items">
  <a class="clean" href="/" aria-label="NERDDISCO Home" rel="noopener">
    <div class="logo logo--small">
        {{ printf "static/img/nerddisco.svg" | readFile | safeHTML }}
    </div>
  </a>
</section>


<section class="space-around center center--top">
  <div><h1>{{ .Title }}</h1></div>
  <p class="post-meta">{{ .ReadingTime}} min read / {{ .PublishDate.Format "January 2, 2006" }}</p>
</section>

{{ if .Params.introimg }}
<div class="post-intro" style="--backgroundintro: url('{{ .Params.introimg }}')"></div>
{{ end }}


<section class="full-height space-around center center--top">
  <div>{{ .Content }}</div>
</section>

{{ partial "footer.html" . }}