.columns {
  display: grid;
  /* grid-template-columns: 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(80vw, 1fr) );
  grid-gap: var(--space-around);
}

.columns--fit {
  grid-template-columns: repeat(auto-fit, minmax(29vw, 1fr) );
}

/* .columns--111 {
  grid-template-columns: 1fr 1fr 1fr;
} */

.columns--11 {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) );
}

.rows {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: var(--space-around);
}

/* .rows--11 {
  grid-template-rows: 1fr 1fr;
}

.rows--21 {
  grid-template-rows: 2fr 1fr;
}

.rows--31 {
  grid-template-rows: 3fr 1fr;
} */

.full-height {
  min-height: 100vh;
}

.half-height {
  min-height: 50vh;
}

.full-width {
  width: 100%;
}

.space-around {
  padding: 0 var(--space-around);
}

.space-around--all {
  padding: var(--space-around);
}

.space-around--all--half {
  padding: calc(var(--space-around) / 2);
}

.separate {
  margin: calc(var(--space-around) * 2) 0;
}

.center {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.center--items {
  align-items: center;
}

.center--top {
  justify-content: start;
}

.center--text {
  text-align: center;
} 

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-end;
  justify-content: flex-end;
}