@import 'grid.css';

:root {
  --color: #2d2f2c;
  --color-white: #f8f8f8;
  --color-black: #000;
  --color-dark: #1b1b1b;

  --space-around: 2.5rem; 
}

html {
  font-size: 1.5em;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: var(--color-dark);
  color: var(--color-white);
}

body,
h1,
h2,
h3,
h4 {
  font-family: sans-serif;
  font-weight: 400;
}


a {
  text-decoration: none;
  color: var(--color-black);
  background: var(--color-white);
  padding: .15em;
  transition: filter .25s ease-in-out;
  filter: grayscale(100%) invert(100%);
}

a:hover,
.update-available__button:hover {
  filter: grayscale(0%) invert(0%);
}

p {
  margin: 0;
  line-height: 1.75em;
}

.intro {
  height: 100vh;
}

.intro-header {
  /*  background: #000 url(../img/background.jpg) no-repeat center center;
  background-size: cover;*/
  height: 100%;
}


h1 {
  font-size: 2.75em;
}

h2 {
  font-size: 1.5em;
  margin: 0 0 1em 0;
}

h2.huge {
  font-size: 7.5rem;
  margin: 1em 0 var(--space-around) 0;
}


.logo {
  width: 70vw;
  margin: 1em 0 1em 0;
  font-size: 1rem;
  text-align: center;
  display: inline-block;
}

.slogan {
  text-align: center;
}

.live {
  background: #f00;
  padding: .15em;
}

.icon {
  width: 1.5em;
  height: 1.5em;
}

.list-inline {
  padding-left: 0;
  list-style: none
}

.list-inline>li {
  display: inline-block;
  margin: 0 .25em;
}

.stuff {
  list-style-type: none;
  padding: 0;
}

.stuff > li {
  margin: 1.25em 0;
}

.stuff > li:before {
  content: attr(data-emoji);
  margin: 0 .25em 0 0;
}

.show {
  /* padding: var(--space-around); */
  overflow: hidden;
}
    
.show a {
  padding: 0;
  display: block;
}

.show__head {
  padding: 1rem;
  color: #000;
}

.show__image {
  width: 100%;
  vertical-align: top;
}

.show__title {
  font-size: 3rem;
  margin: 0 0 0 0;
}

.show__date {
  font-size: 1rem;
  margin: 0;
}

.update-available {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: var(--space-around);
}

.update-available__button {
  width: 100%;
  border: 0;
  background: var(--color-white);
  color: var(--color-black);
  font-size: 1.5em;
  padding: .5em;
  box-shadow: 0 0 0 0.5em rgba(0,0,0,.5);
  filter: invert(1);
  cursor: pointer;
}


@media(max-width:1024px) {
  :root {
    --space-around: 3.5rem; 
  }

  html {
    font-size: 1em;
  }

  .intro {
    height: auto;
  }

  /* .rows--21 {
    grid-template-rows: 1fr 1fr;
  } */

  /* .columns {
    grid-template-columns: 1fr;
  } */

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.075em;
  }

  h2.huge {
    font-size: 4.75rem;
  }

  ul.intro-social-buttons>li {
    margin: 0 .5em .75em 0;
    padding: 0;
  }
}

@media(max-width:720px) {
  :root {
    --space-around: 1.5rem; 
  }

  .rows--21 {
    grid-template-rows: 1fr 1fr;
  }

  .columns {
    grid-template-columns: 1fr;
  }
}



/* 




Please replace ALL of this .btn shit!!! 



*/

.btn {
  display: flex;
  padding: .25em;
  margin-bottom: 0;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  background-image: none;
  border: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px
}

.btn:hover,
.btn:focus {
  color: #333;
  text-decoration: none
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65
}

.btn-default {
  background-color: #fff;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad
}

.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
  background-image: none
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #ccc
}