
    <h2>Bio</h2>

    Tim Pietrusky is NERDDISCO. During his studies for information science he really got into electronic music 
    and went almost every weekend into clubs or festivals. Blinded by the light & visuals, 
    he started to work on software (<a href="https://github.com/NERDDISCO">NERDDISCO on GitHub</a>) that can 
    be used to generate visuals (<a href="https://modv.js.org">modV</a>) 
    & control lights (<a href="https://github.com/NERDDISCO/luminave">luminave</a>) by using the power of the Web. 




