<section class="center">
  <div class="column space-around--all">
    <span class="icon" style="filter: invert(100%);">{{ "static/social/love.svg" | readFile | safeHTML }}</span>
    since 2014 by <a href="{{ .Site.BaseURL }}">NERDDISCO</a> | 
    <a href="legal">Legal</a>
  </div>
</section>

<pwa-update-available class="update-available" hidden>
  <button class="update-available__button">Update available</button>
</pwa-update-available>

</body>
<script type="module" async>
  if ('serviceWorker' in navigator) {
    window.addEventListener('load', () => {
      (async () => {
        const { PwaUpdateAvailable } = await import('./js/pwa-helper-components/pwa-update-available/PwaUpdateAvailable.js');
        customElements.define('pwa-update-available', PwaUpdateAvailable);

        navigator.serviceWorker.register('/sw.js');
      })();
    });
  }
</script>

</html>
