<footer class="footer center">

    <div class="column">
      <h2>Thanks for watching!</h2>
    </div>

    <div class="column">
      {{ if isset .Site.Params "social" }}
      <ul class="list-inline intro-social-buttons">
        {{ partial "social.html" . }}
      </ul>
      {{ end }}
    </div>

</footer>

<pwa-update-available class="update-available" hidden>
  <button class="update-available__button">Update available</button>
</pwa-update-available>

</body>
<script type="module" async>
  // Check that service workers are supported
  if ('serviceWorker' in navigator) {
    // Use the window load event to keep the page load performant
    window.addEventListener('load', () => {
      navigator.serviceWorker.register('/sw.js');
    });
  }

  import './js/pwa-helper-components/pwa-update-available.js';
</script>

</html>
