<section class="background-cover space-bottom center center--items">

  <a class="clean" href="https://youtu.be/0wzqwHvKTAk" target="_blank" aria-label="half/byte & NERDDISCO - STXBP1" rel="noopener">
    <div class="logo">
        {{ printf "static/img/nerddisco.svg" | readFile | safeHTML }}

    </div>
  </a>

  <p class="text solid space-around--all full-width">
    {{ if $.Site.Params.isLive }}{{ $.Site.Params.liveText | safeHTML }}, {{ else }}{{ end }} {{ $.Site.Params.description | safeHTML }}
  </p>

  <p class="text solid space-around--all full-width">
    {{ if $.Site.Params.isLive }}{{ $.Site.Params.liveText | safeHTML }}, {{ else }}{{ end }} {{ $.Site.Params.partOf | safeHTML }}
  </p>

  <p class="text solid space-around--all full-width rainbow">
    <a href="mailto:timpietrusky@gmail.com" aria-label="Hire NERDDISCO">Hire NERDDISCO for your event / project / idea</a>
  </p>

  <div class="text solid space-around--all full-width center center--items">
    {{ partial "social.html" . }}
  </div>

</section>


