<section class="shows">

  
  <div class="columns columns--11 space-around">
    <h2 class="huge">Shows</h2>
  </div>

  {{ range .Site.Params.shows }}
  <div class="show" data-date="{{ .date }}">

    <a href="{{ .url }}" target="_blank" aria-label="{{ .title }}">
      <div class="show__head">
        <h4 class="show__date">{{ .date }}</h4>
        <h3 class="show__title">{{ .title }}</h3>
      </div>
      
      <img class="show__image" src="{{ printf "shows/%s.jpg" .img }}" alt="{{ .title }}" loading="lazy">
    </a>

  </div>
  {{ end }}

  <script type="text/javascript">
  console.log('jojo')

  var shows = document.querySelectorAll('.shows')


  // shows.map(show => {
  //   console.log(show)
  // })

  
  </script>

</section>