
{{ $show_next := true }}
{{ range .Site.Params.next }}
{{else}}
  {{ $show_next = false }}
{{ end }}


{{ if $show_next }}
<section class="half-height center separate sm:center--top">
  
  <div class="space-around">
    <h2 class="subtitle" id="next">Next</h2>
  </div>

  <div class="columns space-around">

    {{ range .Site.Params.next }}
    <div class="show show--next" data-date="{{ .date }}">

      <a href="{{ .url }}" target="_blank" aria-label="{{ .title }}" rel="noopener">
        <div class="show__head space-around--all--half">
          <h4 class="show__date">{{ .date }}</h4>
          <h3 class="show__title">{{ .title }}</h3>
        </div>

        <!-- <picture>
          <source srcset="{{ printf "shows/%s.jpg" .img }}" type="image/jpeg"> 
          <img class="show__image" src="{{ printf "shows/%s.jpg" .img }}" alt="{{ .title }}" loading="lazy">
        </picture> -->
      </a>

    </div>
    {{ end }}

  </div>

</section>
{{ end }}