<section class="center center--items">
  
  <div class="columns columns--11 center space-around">
    <h2 class="subtitle subtitle--submenu" id="previously">Previously</h2>
  </div>

  <div class="column">
    <ul class="filter">
      <li><a class="filter-option" data-type="all" href="/?filter=all#previously">All</a></li>
      <li><a class="filter-option" data-type="musicvideo" href="/?filter=musicvideo#previously">Music Video</a></li>
      <li><a class="filter-option" data-type="nft" href="/?filter=nft#previously">NFT</a></li>
      <li><a class="filter-option" data-type="show" href="/?filter=show#previously">Show</a></li>
      <li><a class="filter-option" data-type="talk" href="/?filter=talk#previously">Talk</a></li>
    </ul>
  </div>


  <div class="columns columns--fit full-width">

    {{ range .Site.Params.shows }}
    <div class="show" data-date="{{ .date }}" data-type="{{ .type }}">

      <a href="{{ .url }}" target="{{ .target }}" aria-label="{{ .title }}" rel="noopener">
        <div class="show__picture">
          <picture>
            <h4 class="show__date space-around--all--half solid hover:solid">{{ .date }}</h4>
            {{ if .length }}
              <h4 class="show__length space-around--all--half hover:solid">{{ .length }}</h4>
            {{ else }}{{ end }}
            <source srcset="{{ printf "shows/%s.jpg" .img }}" type="image/jpeg"> 
            <img class="show__image" src="{{ printf "shows/%s.jpg" .img }}" alt="{{ .title }}" loading="lazy">
          </picture>
        </div>

        <div class="show__head space-around--all--half">
          <h3 class="show__title">{{ .title }}</h3>
        </div>
      </a>

    </div>
    {{ end }}

  </div>

</section>

<section class="full-height center">

  <div class="column center space-around">
    <h2 class="subtitle" id="thanks-for-watching">Thanks!</h2>
  </div>

</section>