@import "lib/breakpoints";





$color-pink: #D7598B;
$color-brown: #855C52;
$color-green: #1B5E20;





* {
  box-sizing: border-box;
}

body {
  font: 1em sans-serif;
  color: #fff;
  background: #15171E;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h2 {
  font: 2.65em sans-serif;
  line-height: 1.5em;
  margin: .25em 0 1em 0;

  @include breakpoint("medium", "and down") {
    font-size: 1.75em;
    margin: .25em 0 0 0;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 70em;
}

#mrturtle {
  padding: 1em;
}

.show-artist,
.show-title {
  font-weight: bold;
  background: #fff;
  color: #000;
  padding: .25em;

  @include breakpoint("medium", "and down") {
    padding: .075em;
  }
}

.vote-button {
  width: 50%;
  height: 8em;
  font-size: 1em;
  cursor: pointer;
  padding: .25em;
  text-align: center;
  border: none;

  &--yes {
    background: url(../images/heart_stars.svg) no-repeat 50% 50%;

    @include breakpoint("medium", "and down") {
      background-size: 80px;
      background-position: 0% 50%;
    }
  }

  &--no {
    background: url(../images/shit.svg) no-repeat 50% 50%;

    @include breakpoint("medium", "and down") {
      background-size: 80px;
      background-position: 100% 50%;
    }
  }
}



.vote-legend {
  position: relative;
  float: left;
  width: 50%;
  height: 8em;
  font-size: 1em;
  text-align: left;
  padding: .25em;
  color: #000;
  margin: 0 0 0 0;

  &:after {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    font-weight: bold;
    width: 5em;
    padding: .25em;

    @include breakpoint("medium", "and down") {
      padding: 0;
      font-size: 2.5em;
      width: 3em;
    }
  }



  &--yes {
    color: #fff;
    background: url(../images/heart_stars.svg) no-repeat 50% 50%;

    @include breakpoint("medium", "and down") {
      background-size: 80px;
      background-position: 0% 50%;
    }

    &:after {
      content: attr(data-yes);
      text-align: right;
      padding-right: 0;

      @include breakpoint("medium", "and down") {
        text-align: right;
        padding-right: .35em;
      }
    }
  }

  &--no {
    color: #fff;
    background: url(../images/shit.svg) no-repeat 50% 50%;

    @include breakpoint("medium", "and down") {
      background-size: 80px;
      background-position: 100% 50%;
    }

    &:after {
      content: attr(data-no);

      @include breakpoint("medium", "and down") {
        text-align: left;
        padding-left: .35em;
      }
    }

  }
}

.voteresult--container {
  width: 100%;
}

.voteresult--chart {
  width: 100%;
}